# .clang-format
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveDeclarations: AcrossEmptyLines
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
BreakBeforeBinaryOperators: All
Cpp11BracedListStyle: false
MaxEmptyLinesToKeep: 1
ReflowComments: false
SortIncludes: true
SpaceAfterCStyleCast: true
AlignConsecutiveMacros: true
