vgcore.*
*.o
*.so
*.a
raycast_tests
*_runner.c
/demo/untextured
/demo/textured

# CMake
CMakeFiles/
*.cmake
CMakeCache.txt
DartConfiguration.tcl
install_manifest.txt
Makefile
Testing

# etc
.clangd
.zed
