name: CI

on:
  push:
    branches: ["main", "testing"]
  pull_request:
    branches: ["main", "testing"]

env:
  BUILD_TYPE: Test

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DTARGET_GROUP=test -DSDL_UNIX_CONSOLE_BUILD=ON

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

      - name: Upload build directory
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ${{ github.workspace }}/build

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/download-artifact@v4
        with:
          name: build
          path: ${{ github.workspace }}/build

      - name: Restore execute permissions to test binaries
        run: chmod -R +x ${{ github.workspace }}/build

      - name: Run tests
        run: ${{ github.workspace }}/build/test/raycast_tests
